.all-news-text {
  position: absolute;
  height: 120px;
  width: 50px;
  padding: 50px 10px;
  top: 0;
  right: 0;
  text-align: center;
  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  p {
    transform: rotate(-90deg);
  }
}

.all-news-image {
  position: relative;
  background-size: cover;
  min-height: 280px;
}

.all-news {
  .post-details {
    display: flex;
    margin: 0;
    padding: 0 0 0 30px;
    border: 1px solid $gray-300;
    border-left: none;
  }
}

.all-news-details-container {
  padding: 30px 25px 30px 0;
}

.icon-chevron {
  float: right;
  font-size: 21px;
}

.btn-loading {
  margin-top: 50px;
}