
$font-family-sans-serif: 'Merriweather', serif;
$grid-gutter-width: 4px;
$banner-height: 810px;
$navbar-nav-link-padding-x: 2rem;
$navbar-brand-font-size: 2rem;

$red: #ff0000;

$input-border-radius: 0;
$input-btn-padding-y: 15px;
$btn-border-radius: 0;
$btn-border-radius-sm: 0;


