
$font-family-sans-serif: 'Merriweather', serif;
$grid-gutter-width: 4px;
$banner-height: 810px;
$navbar-nav-link-padding-x: 2rem;
$navbar-brand-font-size: 2rem;

$red: #ff0000;

$input-border-radius: 0;
$input-btn-padding-y: 15px;
$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;
$btn-font-family: sans-serif;
$btn-font-size-lg: 15px;
$input-font-family: sans-serif;
$input-font-size: 13px;
$btn-focus-width: 0;

$link-hover-decoration:  none;
